@media (max-width: 1440px) {
    .nav__link {
        margin-left: 0;
        margin-right: 40px;
    }

    .nav__btn {
        right: 1%;
    }
}

/*  MAX WIDTH 1170px */
@media (max-width: 1170px) {
    .container {
        max-width: 970px;
    }



    .nav__btn {
        right: 5%;
    }

    #nav__toggle:checked~.nav__box {
        width: 90%;
    }


    .icon__box__left::before {
        left: 115px;
    }

    .icon__box__right::before {
        left: -137px;
    }
}

/*  MAX WIDTH 990px */


@media (max-width: 990px) {
    .container {
        max-width: 770px;
    }

    .header__inner {
        flex-wrap: wrap;
        padding: 25px 0;
    }

    #nav__toggle:checked~.nav__box {
        padding-top: 50px;
        max-height: 100%;
        flex-direction: column;
        min-width: 740px;
        text-align: left;
    }

    .nav__btn {
        top: 20px;
        width: 30px;
        height: 30px;
    }

    .intro__column1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about__column1 {
        flex: 0, 0, 50%;
        max-width: 50%;
    }

    .about__column2 {
        flex: 0, 0, 50%;
        max-width: 50%;
    }

    .about__me__btn a {
        margin-right: -3px;
    }

    .skill__column1,
    .skill__column2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col_33 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .galery__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .map__text {
        font-size: 16px;
    }

    .map__text h4 {
        font-size: 20px;
    }


    .icon__box__left {
        left: 65%;
    }

    .icon__box__right {
        left: 35%;
    }

    .icon__box__left::before {
        left: 123px;
    }

    .icon__box__right::before {
        left: -145px;
    }

    .contact__details {
        padding-left: 100px;
        padding-top: 60px;
    }


}


/*  MAX WIDTH 770px */


@media (max-width: 770px) {
    .container {
        max-width: 540px;
    }

    #nav__toggle:checked~.nav__box {
        min-width: 530px;
    }

    .intro__column1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .intro__column2 {
        display: none;
    }

    .about__column1 {
        flex: 0, 0, 100%;
        max-width: 100%;
    }

    .about__column2 {
        flex: 0, 0, 100%;
        max-width: 100%;
    }

    .about__me__btn a {
        margin-right: 5px;
    }

    .row_margin_top_100 {
        margin-top: 50px;
    }

    .backend__area {
        left: 19%;
    }

    .col_33 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col_none {
        display: none;
    }

    .icon__box__left {
        left: 45%;
    }

    .icon__box__right {
        left: 45%;
    }

    .icon__box__left::before {
        left: 130px;
    }

    .icon__box__right::before {
        left: -130px;
    }


    .col__footer1 {
        flex: 0 0 15%;
        width: 15%;
    }

    .col__footer2 {
        flex: 0 0 70%;
        width: 300px;
    }

    .col__footer3 {
        flex: 0 0 15%;
        width: 15%;
    }



}


/*  MAX WIDTH 575px */


@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }

    #nav__toggle:checked~.nav__box {
        min-width: 450px;
    }

    .intro__column1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .intro__column2 {
        display: none;
    }

    .about__column1 {
        flex: 0, 0, 100%;
        max-width: 100%;
    }

    .about__column2 {
        flex: 0, 0, 100%;
        max-width: 100%;
    }

    .about__me__btn a {
        margin-right: 0px;
    }

    .row_margin_top_100 {
        margin-top: 50px;
    }

    .backend__area {
        left: 16%;
    }

    .galery__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .icon__box__left {
        left: 45%;
    }

    .icon__box__right {
        left: 45%;
    }

    .icon__box__left::before {
        left: 125px;
    }

    .icon__box__right::before {
        left: -125px;
    }
}


@media (max-width: 496px) {
    .container {
        min-width: 420px;
    }

    #nav__toggle:checked~.nav__box {
        min-width: 420px;
    }


    .hello {
        font-size: 18px;
    }

    .intro__text .my__name {
        font-size: 50px;
    }

    .intro__text h3 {
        font-size: 22px;
    }

    .intro__btn {
        padding-top: 60px;
    }

    .intro__btn a {
        margin-right: 0;
    }
}

@media (max-width: 990px) and (min-height: 1300px) {
    .intro__banner {
        padding-top: 700px;
    }
}


/*  MAX HEIGHT 780px */

@media (max-height: 780px) {
    .intro__banner {
        padding-top: 300px;
    }
}